# Model Trainerz
torch
transformers
accelerate
bitsandbytes
peft
datasets
sentencepiece

# API
fastapi
uvicorn
httpx                       # async HTTP client for Ollama calls
python-multipart            # faster file uploads

python-dotenv

# Prop tools
youtube-transcript-api
